@import "./variable/variable";
@import "./mixin/font";

// max
@media (min-width:1800px) {
.left-banner-main .overlay .text {
    .text-limit {
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }

h2 {
  font-size: 40px;
  width: 460px;
}

p {
  font-size: 20px;
}
}

//end of banner

.product-summery .product-item .product-img {
	height: 256px;
}

}
// big device
@media (min-width:1400px) and (max-width:1799px) {
.nav-side-menu {
width: 230px;
}

.left-banner-main .overlay .text {
  p {
    font-size: 18px;
  }
}

// end of banner

.category-page {

.product-img {
    height: 223px;
  }
}
// end of category

.product-summery .product-item .product-img {
	height: 202px;
}
.category-page .product-item .product-img {
	height: 194px;
}
// end of product

}


// extra large device
@media (min-width:1200px) and (max-width:1399px) {
.cmn-pt {
padding-top: 50px;
}
.call-btn {
	padding: 15px 23px;
}
// end of comman
.nav-side-menu {
  width: 220px;
}

.left-banner-main .overlay .text {
  p {
    font-size: 18px;
  }
}

// end of banner

.product-item .product-img {
  height: 249px;
}

.slick-arrow {
  width: 45px;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  top: -17%;
  border-radius: 5px 50% 50% 5px;
}

.slick-arrow.slick-prev {
  border-radius: 50% 5px 5px 50%;
  left: auto;
  right: 80px;
}

#sp-offer:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}

#sp-offer:hover .slick-next {
  right: 17px;
  left: auto;
}

#sp-offer:hover .slick-prev {
  right: 80px;
  left: auto;
}
#NZoomContainer img {
  width: 500px !important;
}

.product-summery .product-item .product-img {
	height: 267px;
}
.category-page .product-item .product-img {
	height: 259px;
}
// product end

.wishlist {
	padding: 60px 0;
  
  .wishlist-header h1 {
    padding-bottom: 60px;
  }
}
// cart end
}

// large device
@media (min-width:992px) and (max-width:1199px) {
  p {
    line-height: 20px;
  }
.section-title h1 {
font-size: 32px;
}

.cmn-pt {
  padding-top: 50px;
}

// end of common

.nav-side-menu {
  width: 220px;
}

header .header-form .search {
  width: 10%;
}

// end of nav

.slick-arrow {
  width: 45px;
  height: 40px;
  line-height: 40px;
  font-size: 17px;
  top: -17%;
  border-radius: 5px 50% 50% 5px;
}

.slick-arrow.slick-prev {
  border-radius: 50% 5px 5px 50%;
  left: auto;
  right: 80px;
}

#sp-offer:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}

#sp-offer:hover .slick-next {
  right: 17px;
  left: auto;
}

#sp-offer:hover .slick-prev {
  right: 80px;
  left: auto;
}

.product-summery .product-item .product-img {
	height: 215px;
}

.category-page .product-item .product-img {
	height: 288px;
}
// product end

.wishlist {
	padding: 60px 0;
  
  .wishlist-header h1 {
    padding-bottom: 60px;
  }
}
// cart end

.tab-content{
  margin-top: 30px;
}
// user deshboard end
}

// medium device 
@media (min-width:768px) and (max-width:991px) {
.section-title h1 {
font-size: 32px;
}

.cmn-pt {
  padding-top: 40px;
}

.title2 {
  margin-bottom: 20px;
}

// end of common
.nav-side-menu {
  width: 220px;
}

header .header-right ul li i {
  font-size: 18px;
}

header .header-right ul li.fav-info,
header .header-right ul li.cart-bag,
header .header-right ul li.user-info {
margin-left: 24px;
}

header .header-form {
.search {
    width: 12%;
  }

.logo a img {
  width: 70px;
}

input {
  height: 40px;
}

}

// end of header

.slick-arrow {
width: 40px;
  height: 35px;
  line-height: 34px;
  font-size: 15px;
  top: -17%;
  border-radius: 5px 50% 50% 5px;
}

.slick-arrow.slick-prev {
border-radius: 50% 5px 5px 50%;
  left: auto;
  right: 80px;
}

#sp-offer:hover .slick-arrow {
opacity: 1;
  visibility: visible;
}

#sp-offer:hover .slick-next {
right: 17px;
  left: auto;
}

#sp-offer:hover .slick-prev {
right: 70px;
  left: auto;
}
#NZoomContainer img {
  width: 500px !important;
}

.product-summery .product-item .product-img {
	height: 221px;
}
.category-page .product-item .product-img {
	height: 214px;
}
// end of product

.category-page {

.product-img {
    height: 213px;
  }

}

// end of category

.call .call-inner h2 {
font-size: 26px;
}

.footer .footer-main {
padding: 50px 0;

h3 {
    padding-bottom: 20px;
  }
}
// footer end

.wishlist {
	padding: 40px 0;
  
  .wishlist-header h1 {
    padding-bottom: 40px;
  }
}
// cart end

.checkout{
  padding-top: 60px;
}
// checkout end

.user-deshboard .account-info .image {
	margin-right: auto;
  margin-bottom: 30px;
}

.profile-achievements {
  gap: 32px;
}
.user-deshboard .account-info .profile-inf-right .achievement-box {
	margin-left: 0;
}
.tab-content{
  margin-top: 30px;
}
// user deshboard end

}

// small device
@media (min-width:576px) and (max-width:767px) {
.section-title h1 {
font-size: 30px;
  padding-bottom: 10px;
}

.cmn-pt {
  padding-top: 40px;
}

.title2 {
  margin-bottom: 20px;
}

// end of common

.header-left {
  padding-left: 30px;

.home {
    border-right: none !important;
  }
}

.deliver>span {
  border-top: 1px solid $secondarytheme;
  margin-top: 5px;
  padding-left: 30px;
}

.sticky-top .custom-container {
  padding: 0;
}

header .header-form {
  .search {
    width: 12%;
  }

.logo a img {
  width: 70px;
}

input {
  height: 40px;
}

}

.logo {
  padding-bottom: 20px;
}

// end of header

.product-item .product-img {
  height: 234px;
}

.slick-arrow {
  width: 40px;
  height: 35px;
  line-height: 34px;
  font-size: 15px;
  top: -17%;
  border-radius: 5px 50% 50% 5px;
}

.slick-arrow.slick-prev {
  border-radius: 50% 5px 5px 50%;
  left: auto;
  right: 80px;
}

#sp-offer:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}

#sp-offer:hover .slick-next {
  right: 17px;
  left: auto;
}

#sp-offer:hover .slick-prev {
  right: 70px;
  left: auto;
}

.product-information-main .prd-left-details {
  padding: 30px 10px;
}

.mini-side-image ul {
  display: flex;

  li {
    margin-right: 20px;
  }
}
.product-summery .product-item .product-img {
	height: 250px;
}
.category-page .product-item .product-img {
	height: 242px;
}
// end of product

.billing-section form input[type="text"],
.billing-section form input[type="email"],
.billing-section form input[type="password"],
.billing-section form input[type="submit"],
.billing-section form textarea {
  height: 50px;
}

.billing-section form .input-item i {
  top: 17px;
}

// end of checkout

.call .call-inner h2 {
  font-size: 26px;
  width: 260px;
}

.footer .footer-main {
  padding: 40px 0;

h3 {
    padding-bottom: 20px;
  }
}
// end of footer


.wishlist {
	padding: 40px 0;
  
  .wishlist-header h1 {
    padding-bottom: 40px;
  }
}

.cart {
  .cart-actions a {
    padding: 9px 14px;
  }

  .cart-bottom-info{
    .shipping, .subtotal {
      margin-left: 0;
    }
  } 

} 
// cart end

.invoice-section .invoice-right h5 {
	font-size: 15px;
}
// end of invoice

.checkout{
  padding-top: 60px;
}
// checkout end

.user-deshboard .account-info .image {
	margin-right: auto;
  margin-bottom: 30px;
}
.profile-achievements {
  gap: 24px;
  .achievement-box {
    width: calc(50% - 16px);
  }
}
.user-deshboard .account-info .profile-inf-right .achievement-box {
	margin-left: 0;
}
.address-book-content{
  padding-top: 40px;
}
.tab-content{
  margin-top: 30px;
}
// user deshboard end

}

// extra small device
@media (min-width:481px) and (max-width:575px) {
.section-title h1 {
font-size: 30px;
}

.cmn-pt {
  padding-top: 30px;
}

.title2 {
  margin-bottom: 20px;
}

.title2 {
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
  font-size: 17px !important;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 17px;
}

// end of common

.header-left {
  padding-left: 30px;

.home {
    border-right: none !important;
  }
}

.deliver>span {
  border-top: 1px solid $secondarytheme;
  margin-top: 5px;
  padding-left: 30px;
}

.sticky-top .custom-container {
  padding: 0;
}

header .header-form {
  .search {
    width: 15%;
  }

.logo a img {
  width: 70px;
}

input {
  height: 40px;
}

}

.logo {
  padding-bottom: 20px;
}

// end of header

.product-item .product-img {
  height: 380px;
}

.slick-arrow {
  width: 40px;
  height: 35px;
  line-height: 34px;
  font-size: 15px;
  top: -14%;
  border-radius: 5px 50% 50% 5px;
}

.slick-arrow.slick-prev {
  border-radius: 50% 5px 5px 50%;
  left: auto;
  right: 80px;
}

#sp-offer:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}

#sp-offer:hover .slick-next {
  right: 17px;
  left: auto;
}

#sp-offer:hover .slick-prev {
  right: 70px;
  left: auto;
}

.product-information-main .prd-left-details {
  padding: 30px 10px;
}

.mini-side-image ul {
  display: flex;

  li {
    margin-right: 20px;
  }

}
.product-summery .product-item .product-img {
	height: 433px;
}
.category-page .product-item .product-img {
	height: 361px;
}

.product-details-info .quantity-main{

  .qnt-number{
     width: 100%;
 
     ul {
       width: 121px;
     }
   } 
 
   .atoc, .order-now{
     width: 50%;
   }
 }
// end of product

.billing-section form input[type="text"],
.billing-section form input[type="email"],
.billing-section form input[type="password"],
.billing-section form input[type="submit"],
.billing-section form textarea {
  height: 50px;
}

.billing-section form .input-item i {
  top: 17px;
}

.checkout{
  padding-top: 60px;
}
.billing-section form textarea {
	padding: 15px 30px 15px 15px;
}
.isCustomer h3, .haveCoupon h3, .isCustomer a, .haveCoupon a {
	font-size: 18px;
}
// checkout end

// end of checkout

.call .call-inner h2 {
  font-size: 22px;
  width: 260px;
}

.call-btn {
  padding: 15px 25px;
}

.footer .footer-main {
  padding: 40px 0;

h3 {
    padding-bottom: 20px;
  }
}
// footer end

.wishlist {
	padding: 40px 0;
  
  .wishlist-header h1 {
    padding-bottom: 30px;
  }
}
.cart {
  .cart-actions a {
    padding: 9px 14px;
  }

  .cart-bottom-info{
    .shipping, .subtotal {
      margin-left: 0;
    }
  } 

} 
// cart end

.invoice-section .invoice-right h5 {
	font-size: 15px;
}
// end of invoice

.user-deshboard .account-info .image {
	margin-right: auto;
	margin-bottom: 30px;
}
.profile-achievements .achievement-box {
  width: 100%;
}
.user-deshboard .account-info .profile-inf-right .achievement-box {
	margin-left: 0;
}
.address-book-content{
  padding-top: 40px;
}
.tab-content{
  margin-top: 30px;
}
// end of user deshboard

}

// mobile device
@media (max-width:480px) {
.section-title h1 {
font-size: 30px;
}

::-webkit-input-placeholder {
  font-size: 16px !important;
}

input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 16px;
}

// end of common


.header-left {
  padding-left: 30px;

.home {
    border-right: none !important;
  }
}

.deliver>span {
  border-top: 1px solid $secondarytheme;
  margin-top: 5px;
  padding-left: 30px;
}

.sticky-top .custom-container {
  padding: 0;
}

header .header-form {
  .search {
    width: 15%;
  }

.logo a img {
  width: 70px;
}

input {
  height: 40px;
}

}

.logo {
  padding-bottom: 20px;
}

// end of header

.left-banner-main .overlay .text {
  padding: 45px 0 0 30px;

.text-limit {
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

p,
a {
  margin-top: 30px;
}

h2 {
  width: 300px;
}
}

// end of banner

.product-item .product-img {
  height: 294px;
}

.slick-arrow {
  width: 40px;
  height: 35px;
  line-height: 34px;
  font-size: 15px;
  top: -14%;
  border-radius: 5px 50% 50% 5px;
}

.slick-arrow.slick-prev {
  border-radius: 50% 5px 5px 50%;
  left: auto;
  right: 80px;
}

#sp-offer:hover .slick-arrow {
  opacity: 1;
  visibility: visible;
}

#sp-offer:hover .slick-next {
  right: 17px;
  left: auto;
}

#sp-offer:hover .slick-prev {
  right: 70px;
  left: auto;
}

.product-information-main .prd-left-details {
  padding: 30px 10px;
}

.mini-side-image ul {
  display: flex;

  li {
    margin-right: 20px;
  }

}

.big-side-image {

  height: 400px !important;

  #NZoomContainer {

    // height: 300px !important;

    img {
      width: 100% !important;
      // height: 300px !important;
    }
  }
}
.product-details-info .quantity-main{

 .qnt-number{
    width: 100%;

    ul {
      width: 121px;
    }
  } 

  .atoc, .order-now{
    width: 50%;
  }
}
.product-summery .product-item .product-img {
	height: 327px;
}
// end of product


.billing-section form input[type="text"],
.billing-section form input[type="email"],
.billing-section form input[type="password"],
.billing-section form input[type="submit"],
.billing-section form textarea {
  height: 50px;
}

.billing-section form .input-item i {
  top: 17px;
}
.checkout{
  padding-top: 60px;
}
.billing-section form textarea {
	padding: 15px 30px 15px 15px;
}

.isCustomer h3, .haveCoupon h3, .isCustomer a, .haveCoupon a {
	font-size: 18px;
}

// end of checkout

.call .call-inner h2 {
  font-size: 26px;
  width: 260px;
}

.call-btn {
  padding: 15px;
}

.footer .footer-main {
  padding: 40px 0;

h3 {
    padding-bottom: 20px;
  }
}
// footer end


.wishlist {
	padding: 40px 0;
  
  .wishlist-header h1 {
    padding-bottom: 30px;
  }
}
.cart {
  .cart-actions a {
    padding: 9px 14px;
  }

  .cart-bottom-info{
    .shipping, .subtotal {
      margin-left: 0;
    }
  } 

} 
// cart end

.invoice-section .invoice-right h5 {
	font-size: 15px;
}
// end of invoice

.user-deshboard .account-info .image {
	margin-right: auto;
	margin-bottom: 30px;
}
.profile-achievements .achievement-box {
  width: 100%;
}

.user-deshboard .account-info .profile-inf-right .achievement-box {
	margin-left: 0;
}
.address-book-content{
  padding-top: 40px;
}
.tab-content{
  margin-top: 30px;
}
// end of user deshboard
}