$white: #ffffff;
$black: #002C42;
$red: red;
$denger: #c53535;

$primarytheme:#EBE4D1;
$secondarytheme:#B4B4B3;
$darktheme:#26577C;
$colortheme:#E55604;


$disable: #888888;
$lightbg1: #f5f5f5;
$lightbg2: #ebe4d173;