@import "../variable/variable";
@import "../mixin/font";

.footer {
	background-color: $darktheme;
	border-top: 1px solid #ddd;
	color: $white;
	.footer-main {
		padding: 60px 0 45px 0;
		h3 {
			font-family: 'Bjudson';
			font-size: 22px;
			text-transform: capitalize;
			padding-bottom: 33px;
			columns: #7A7A7A;
		}
	}
	.usefull-link {
		ul {
			li {
				padding-bottom: 15px;
				transition: all linear .2s;
				a {
					&:hover {
						color: #FAB528;
					}
				}
			}
		}
	}
	.help-center {
		ul {
			li {
				padding-bottom: 15px;
				transition: all linear .2s;
				// font-weight: 500;
				a {
					&:hover {
						color: #FAB528;
					}
				}
			}
		}
	}
	.business {
		ul {
			li {
				padding-bottom: 15px;
				transition: all linear .2s;
				// font-weight: 500;
				a {
					&:hover {
						color: #FAB528;
					}
				}
			}
		}
	}
	.news-letter {
		.form {
			position: relative;
		}
		input {
			height: 50px;
			padding-left: 50px;
			padding-right: 120px;
			&:focus {
				z-index: 0;
			}
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			height: 50px;
		}
		.mail {
			position: absolute;
			top: 50%;
			left: 20px;
			transform: translateY(-50%);
			color: #999;
		}
	}
}
.about-footer {
	ul {
		li {
			span {
				float: left;
				padding-right: 15px;
			}
			p {
				padding-bottom: 10px;
			}
			h6 {
				font-size: 25px;
				padding-left: 20px;
			}
		}
	}
}

.footer-main .social a {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: $white;
	color: #949494;
	line-height: 53px;
	font-size: 18px;
	text-align: center;
	transition: all linear .2s;
	margin-left: 6px; }
	.footer-main .social a:hover {
		background-color: $colortheme;
		color: $white; }

/* footer bottom part start */
.footer-bottom {
	background-color: $black;
		border-top: 1px solid $secondarytheme;
		color: $white;

	.footer-btm-main {
		padding: 15px 0;

		ul li {
			display: inline-block;
		
			a {
				color: #555;
				font-size: 12px;
				margin-left: 10px;
			}
		}
	}
}
/* footer bottom part end */
