@import "../variable/variable";
@import "../mixin/font";

.service {
  width: 100%;

  .container{
    background-color: #F9F9F9;
    border: 1px solid $primarytheme;
  }

  .top-item {
    width: 100%;
    padding: 40px 0;
    .icon {
      padding-right: 15px;
      width: 80px;

      img {
        margin-top: 4px;
      }
    }
    .text {
      h4 {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 4px;
      }
    }
  }
}
