@import "../variable/variable";
@import "../mixin/font";

.contact-page {
  padding-top: 80px;

  .common--subtitle {
    font-size: 24px;
    font-weight: 500;
    border-radius: 70px 0px;
    background-color: $darktheme;
    padding: 10px 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: $white;
}

.send-btn {
  font-size: 16px;
  font-weight: 600;
  background-color: $darktheme;
  padding: 10px 40px;
  color: #0A0B0F;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  margin-top: 30px;
  color: $white;
  border: none;
  &:hover{
    color: $white;
    background-color: $colortheme;
  }
}
  
  .contact--title {
      margin-bottom: 60px;
    }
  
  .contact-box {
    text-align: center;
    background-color: #f2f2f2;
    padding: 45px 30px;
    border-radius: 10px;
    min-height: 100%;
  
    .contact-box-icon {
      margin-bottom: 15px;
  
  i {
  font-size: 40px;
    color: $white;
    background-color: $darktheme;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    width: 80px;
    height: 80px;
  line-height: 80px;
  transition: all 0.3s ease-in-out;
  
    &:hover {
      background-color: $colortheme;
      color: $white;
    }
  }
  
  }
  
  .contact-box-content .contact-box-title {
    margin-bottom: 5px;
    font-size: 28px;
    font-style: normal;
    line-height: 36px;
    font-weight: 700;
  }
  }
  
  .contact-form {
  padding: 80px 0;
  
  .image {
      width: 100%;
      height: 600px;
  
  img {
      width: 100%;
  height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  }
  
  .description {
    font-size: 16px;
    font-weight: 400;
    z-index: 9;
    position: relative;
    margin: 10px 0 0 0;
  }
  .contact-us-form input,
  .contact-us-form select {
    margin-bottom: 20px;
  }
  
  input,
  input.form-control {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: $black;
    width: 100%;
  float: none;
    font-size: 16px;
    padding: 0 15px;
    height: 54px;
    line-height: 54px;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border-radius: 10px;
  }
  
  select,
  select.form-control {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    color: $black;
    width: 100%;
    padding: 0 30px 0 15px;
    height: 54px;
  }
  
  textarea {
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    ;
    color: $black;
    width: 100%;
    float: none;
    padding: 10px 15px;
    outline: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    border-radius: 10px;
    height: 150px;
  }
  input:focus,
  input:hover,
  textarea:focus,
  textarea:hover,
  .form-control:focus {
    border-color: $colortheme;
    outline: none;
    box-shadow: none;
  }
  }
  
  }
  
.map iframe {
  width: 100%;
  border: 0;
    height: 450px;
  }

// .contact-page {
//   padding-top: 60px;
//   background-color: #f2f2f2;

//   .contact-body {
//     background-color: $white;
//     padding: 40px;
//     border-radius: 30px;

//     .contact-top {
//       margin-bottom: 60px;
//     }

//     .contact-info {
//       .icon {
//         margin-right: 24px;

//         i {
//           background-color: #f2f2f2;
//           width: 80px;
//           height: 80px;
//           text-align: center;
//           line-height: 80px;
//           font-size: 35px;
//           color: #444444;
//           border-radius: 14px;
//         }
//       }

//       .text {
//         h4 {
//           font-size: 20px;
//           font-weight: 600;
//           text-transform: uppercase;
//           padding-bottom: 8px;
//         }

//         p {
//           color: #666666;
//         }
//       }
//     }

//     .contact-form {

//       .input-groups {
//         margin-bottom: 24px;

//         input {
//           width: 100%;
//           height: 60px;
//           background-color: #f2f2f2;
//           border: 1px solid #000;
//           padding: 0 20px;
//           border-radius: 5px;
//           transition: all linear .2s;

//           &:focus {
//             border-color: $colortheme;
//           }
//         }

//         textarea {
//           width: 100%;
//           height: 200px;
//           background-color: #f2f2f2;
//           border: 1px solid #000;
//           padding: 20px;
//           border-radius: 5px;
//           transition: all linear .2s;

//           &:focus {
//             border-color: $colortheme;
//           }
//         }
//       }

//       .button {
//         text-align: center;
//         margin-top: 10px;

//         button {
//           background-color: $colortheme;
//           color: $white;
//           padding: 14px 20px;
//           text-transform: uppercase;
//           font-weight: 600;
//           border-radius: 5px;
//           transition: all linear .2s;
//           border: 0;

//           &:hover {
//             background-color: $colortheme;
//           }
//         }
//       }
//     }
//   }

//   .contact-map-page {
//     width: 100%;
//     height: 400px;
//     margin-top: 60px;

//     iframe {
//       height: 100% !important;
//     }
//   }
// }